<header>

  <h1 class="webpage-title">Cover Letter Template</h1>

  <nav class="navbar">
      <button type="button" id="create-resume-button">Get Started</button>
  </nav>

</header>

<main>

{{#each people}}
  <div>
    <a href="/people/{{personID}}">{{personName}}</a>
  </div>
{{/each}}

</main>
