<header>

  <h1 class="webpage-title">Cover Letter Template</h1>

  <nav class="navbar">
      <button type="button" id="create-resume-button">Get Started</button>
  </nav>

</header>

<main class="display-flex">

{{#each people}}
  <div class="person-link">
    <a href="/people/{{personID}}">/people/{{personID}}</a>
  </div>
{{/each}}

</main>
