* {
  margin: 0;
}


.modal {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.hidden {
  display: none;
}

#hidden {
  display: none;
}

#create-resume-button:hover {
    cursor: pointer;
    background: lightblue;
}

.modal-content {
    background-color: #fefefe;
    padding: 5px 10px;
    width: 85%;
    height: 90%;
    margin: 2% auto;
    overflow: scroll;
}

.exit-button{
    align: left;
    height: 10%;

}

.exit-button:hover, .exit-button:focus{
    cursor: pointer;
    text-decoration: none;
    color: red;
}

.inner-modal {
  align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 8 50px;
  height: 85%;
  display: flex;
}

.small-text-box {
  flex: 1 20px;
  padding: 5px 0px 5px 0px;
  border-top: black 5px solid;
  border-bottom: black 5px solid;

}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.webpage-title {
  text-align: center;
  margin: 0;
  color: black;
  background-color: rgb(153, 204, 255);
  padding: 17px 25px;
  font-size: 50px;
  font-weight: 600;
  color: white;
}

.navbar {
  background-color: rgb(153, 204, 255);
  margin: 0;
  width: 100%;
  height: 50px;
  list-style-type: none;
}

#create-resume-button {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 153, 255);
  color: white;
  font-size: 30px;
  font-weight: 450;
}

.intro-container {
  width: 100%;
  margin: 0;
}

.org-container {
  width: 100%;
  margin: 0;
}

.line-break {
  margin-left: 55px;
  width: 90%;
  background-color: lightgrey;
  height: 10px;

}

.text-box {
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
  color: black;
}

.intro-text {
  text-align: center;
}

.org-text {
  padding-left: 12px;
  text-align: left;
}

.end-text {
  padding-top: 30px;
}

.summary-container {
  padding-top: 30px;
  padding-left: 12px;
  min-height: 320px;
  text: wrap;
}

.ending-container {
  padding: 0px 0px 15px 12px;
}

.middle {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  border-bottom: 4px solid grey;
  flex: 1 20px;
  padding-left: 5px;
}

.input-box {
  margin-top: 5px;
  padding-left: 5px;
  flex: 1 20px;
}

.next-button {
  width: 50px;
  height: 5%;
}

#finish-button {
  height: 10%;
}

.larger-flex {
  flex: 8 50px;
}


.error-container {
  height: 100%;
  width: 100%;
  text-align: center;
  color: lightblue;
}

.text-8 {
  font-size: 8;
}

.text-10 {
  font-size: 10;

}
.text-12{
  font-size: 12;
}

.text-14 {
  font-size: 14;
}

#helvetica {
  font-family: helvetica;

}
#arial {
  font-family: arial;

}

#timesNewRoman {
  font-family: "Times New Roman";
}

#times {
  font-family: Times;

}

.lightgrey {
  background-color: lightgrey;
}

.white {
  background-color: white;
}

.person-link {
  flex: 1 30px;
  max-height: 40px;
  width: 80%;
  text-align: center;
  align: center;
  align-content: center;
}

.display-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  align: center;
  align-content: center;
}
